<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rosnetworkmodel -->
      <package
            uri="http://jkk.sze.hu/rosnetworkmodel"
            class="hu.sze.aut.ros.network.model.rosnetworkmodel.RosnetworkmodelPackage"
            genModel="model/rosnetworkmodel.genmodel"/>
   </extension>

</plugin>
