<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated diffrobot -->
      <package
            uri="http://jkk.sze.hu/diffrobot"
            class="hu.sze.jkk.diffrobot.model.diffrobot.DiffrobotPackage"
            genModel="model/diffrobot.genmodel"/>
   </extension>

</plugin>
