<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<robot name="">
  <!--GEN START: Kinematic links-->
  <!--GEN LINK: base_link-->
  <link name="base_link">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.5 0.5 0.2"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="20.0"/>
      <inertia ixx="0.4833333333333334" ixy="0.0" ixz="0.0" iyy="0.4833333333333334" iyz="0.0" izz="0.8333333333333333"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.5 0.5 0.2"/>
      </geometry>
    </collision>
  </link>
  <!--GEN LINK: link_wheel_front_wheel_axis_right-->
  <link name="link_wheel_front_wheel_axis_right">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.02" radius="0.2"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.02" radius="0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <!--GEN LINK: link_wheel_front_wheel_axis_left-->
  <link name="link_wheel_front_wheel_axis_left">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.02" radius="0.2"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.02" radius="0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <!--GEN LINK: link_axis_root_front_wheel_axis-->
  <link name="link_axis_root_front_wheel_axis">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.5" radius="0.05"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="2.0"/>
      <inertia ixx="0.042916666666666665" ixy="0.0" ixz="0.0" iyy="0.042916666666666665" iyz="0.0" izz="0.0025000000000000005"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.5" radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <!--GEN LINK: link_wheel_rear_wheel_axis_right-->
  <link name="link_wheel_rear_wheel_axis_right">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.02" radius="0.2"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.02" radius="0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <!--GEN LINK: link_wheel_rear_wheel_axis_left-->
  <link name="link_wheel_rear_wheel_axis_left">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.02" radius="0.2"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.02" radius="0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <!--GEN LINK: link_axis_root_rear_wheel_axis-->
  <link name="link_axis_root_rear_wheel_axis">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.05"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="2.0"/>
      <inertia ixx="0.002916666666666667" ixy="0.0" ixz="0.0" iyy="0.002916666666666667" iyz="0.0" izz="0.0025000000000000005"/>
    </inertial>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder length="0.1" radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <!--GEN START: Kinematic joints-->
  <joint name="joint_axis_front_wheel_axis_right" type="fixed">
    <parent link="link_axis_root_front_wheel_axis"/>
    <child link="link_wheel_front_wheel_axis_right"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="-0.25 0.0 0.0"/>
  </joint>
  <joint name="joint_axis_front_wheel_axis_left" type="fixed">
    <parent link="link_axis_root_front_wheel_axis"/>
    <child link="link_wheel_front_wheel_axis_left"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="0.25 0.0 0.0"/>
  </joint>
  <joint name="jnt_axis_front_wheel_axis" type="fixed">
    <parent link="base_link"/>
    <child link="link_axis_root_front_wheel_axis"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="0.5 0.0 -0.1"/>
  </joint>
  <joint name="joint_axis_rear_wheel_axis_right" type="fixed">
    <parent link="link_axis_root_rear_wheel_axis"/>
    <child link="link_wheel_rear_wheel_axis_right"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="-0.05 0.0 0.0"/>
  </joint>
  <joint name="joint_axis_rear_wheel_axis_left" type="fixed">
    <parent link="link_axis_root_rear_wheel_axis"/>
    <child link="link_wheel_rear_wheel_axis_left"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="0.05 0.0 0.0"/>
  </joint>
  <joint name="jnt_axis_rear_wheel_axis" type="fixed">
    <parent link="base_link"/>
    <child link="link_axis_root_rear_wheel_axis"/>
    <axis xyz="1.0 0.0 0.0"/>
    <origin xyz="-0.4 0.0 -0.2"/>
  </joint>
  <!--GEN START: Transmission definitions-->
  <!--GEN START: Sensor definitions-->
  <!--GEN START: Control plugins-->
  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="null_ros_control">
      <robotNamespace/>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
</robot>
