<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statepubsubmodel -->
      <package
            uri="http://jkk.sze.hu/statepubsubmodel"
            class="hu.sze.jkk.middleware.statepubsub.model.statepubsubmodel.StatepubsubmodelPackage"
            genModel="model/statepubsubmodel.genmodel"/>
   </extension>

</plugin>
