<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated launchmodel -->
      <package
            uri="http://jkk.sze.hu/launchmodel"
            class="hu.sze.jkk.robot.launch.model.launchmodel.LaunchmodelPackage"
            genModel="model/launchmodel.genmodel"/>
   </extension>

</plugin>
