<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="hu.sze.jkk.ros.code.generator.design.Activator"
               id="hu.sze.jkk.ros.code.generator.design"
	       name="rosgenerator">
    </component>
  </extension>
</plugin>
